body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 0px 1px 1px #000;
}
.reveal--onscroll {
    height: 70vh;
}

.reveal--fade-in {
    background: orange;
    transition: 2s ease-in-out;
}

.text-center {text-align: center;}



.is--visible {
    display: block;
    background: orange;
    transition: 2s ease-in-out;
}

.reveal--slide-in-left {
transform:translateX(-100%);
background: blue;
position: relative;;
animation: slide 2s forwards;
}

@-webkit-keyframes slide {
100% { transform:translateX(0%); }
}

@keyframes slide {
100% {transform:translateX(0%); }
}

.reveal--slide-in-right {
    transform:translateX(100%);
    background: blue;
    position: relative;;
    animation: slide-right 2s forwards;
    }
    
    @-webkit-keyframes slide-right {
    100% { transform:translateX(0%); }
    }
    
    @keyframes slide-right {
    100% {transform:translateX(0%); }
    }

    .container-flex {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }